.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6d28d9,#ec4899);
}

.login-card{

    width:380px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(20px);

    border-radius:20px;

    padding:40px;

    box-shadow:0 8px 30px rgba(0,0,0,.3);

    color:white;
}

.login-card h1{

    text-align:center;

    margin-bottom:10px;

    font-size:38px;
}

.login-card p{

    text-align:center;

    margin-bottom:30px;

}

.input-box{

    display:flex;

    align-items:center;

    background:white;

    border-radius:12px;

    padding:12px 15px;

    margin-bottom:20px;

}

.input-box svg{

    color:#7c3aed;

}

.input-box input{

    flex:1;

    border:none;

    outline:none;

    margin-left:10px;

    font-size:15px;

}

.input-box span{

    cursor:pointer;

}

.login-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#7c3aed;

    color:white;

    font-size:17px;

    font-weight:bold;

    transition:.3s;

}

.login-btn:hover{

    background:#5b21b6;

}

.register-link{

    margin-top:20px;

}

.register-link a{

    color:#fff;

    font-weight:bold;

    margin-left:5px;

}