.register-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6D28D9,#EC4899);
}

.register-card{
    width:400px;
    padding:40px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(20px);
    border-radius:20px;
    color:white;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.register-card h1{
    text-align:center;
    margin-bottom:10px;
}

.register-card p{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
    align-items:center;
    background:white;
    padding:12px;
    border-radius:10px;
    margin-bottom:18px;
}

.input-box svg{
    color:#7C3AED;
}

.input-box input{
    flex:1;
    border:none;
    outline:none;
    margin-left:10px;
    font-size:15px;
}

.register-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#7C3AED;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
}

.register-btn:hover{
    background:#5B21B6;
}

.login-link a{
    color:white;
    font-weight:bold;
}