.sidebar{
    background:#1E293B;
    border-radius:20px;
    padding:30px;
    text-align:center;
    height:fit-content;
}

.sidebar img{
    width:110px;
    height:110px;
    border-radius:50%;
    margin-bottom:20px;
}

.sidebar h3{
    margin-bottom:10px;
}

.sidebar p{
    color:#CBD5E1;
}

.stats{
    display:flex;
    justify-content:space-around;
    margin-top:25px;
}

.stats h2{
    color:#EC4899;
}